@import "./common.scss";

@keyframes scrollAni {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

body {
  font-family: "Noto sans KR", sans-serif;
  font-weight: 300;
  font-size: 16px;
  word-break: keep-all;

  @include respond($mobile767){
    font-size: 14px;
  }
}

.innerBox {
  max-width: $pcwidth;
  margin: 0 auto;
  padding: 0 70px;
  position: relative;
  // background-color: rgba(255,0,0,0.2);

  @include respond($tabwidth){
    padding: 0 20px;
  }
}
.title{
  font-size: 2em;
  color: white;
  text-shadow: 0px 0px 6px rgba(0,0,0,.1);
  letter-spacing: 3px;
  display: inline-block;
  padding-top: 35px;
  @include respond($mobile767){
    text-align: center;
    padding-top: 20px;
  }
  @include respond($mobile360){
    font-size: 20px;
    letter-spacing: 2px;
  }
}
.plusmore{
  width: 70px;
  height: 70px;
  margin: 10px 0;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  @include respond($mobile767){
    transform: scale(.8);
    position: absolute;
    right: 5%;
  }
  @include respond($mobile360){
    transform: scale(.6);
    right: 0;
  }
  >a{
    display: block;
    width: 100%;
    height: 100%;
    &:hover{
      >p{
        opacity: 0;
      }
    }
    >p{
      text-align: center;
      width: 100%;
      display: inline-block;
      color: white;
      line-height: 70px;
      transition: all .5s;
      @include respond($mobile767){
        opacity: 0;
      }
    }
    .circle {
      position: absolute;
      left: 0;
      box-sizing: border-box;
      width: 70px;
      height: 70px;
      @include respond($mobile767){
        transform: scale(.8);
      }
      .background{
        fill: transparent;
        transition: all 200ms ease;
      }
      .foreground{
        fill: transparent;
        stroke-dasharray: 377;
        stroke-dashoffset: 377;
        stroke: $amiyellow;
        transform-origin: 50% 50%;
        transform: rotate(-270deg);
        transition: all 800ms ease;
      }
      .line{
        position: absolute;
        stroke-width: 2;
        transform-origin: 50% 50%;
        transition: all 500ms ease;
      }
      &:hover{
        .foreground{
          // fill: rgba($color: #000, $alpha: 0.3);
          stroke-dashoffset: 0;
          transform: rotate(-90deg);
        }
        .line{
          stroke: $amiyellow;
        }
        .line1{
          transform: rotate(180deg);
        }
        .line2{
          transform: rotate(90deg);
        }
      }
      @include respond($mobile767){
        .foreground{
          fill: rgba($color: #000, $alpha: 0.1);
          stroke-dashoffset: 0;
          transform: rotate(-90deg);
        }
        .line{
          stroke: $amiyellow;
        }
        .line1{
          transform: rotate(180deg);
        }
        .line2{
          transform: rotate(90deg);
        }
      }
    }
  }
}

header{
  width: 100%;
  height: $hdHeight100;
  position: fixed;
  z-index: 100;
  background: rgba(255,255,255,.2);

  @include respond($tabwidth){
    text-align: center;    
  }
  @include respond($mobile767){
    height: $hdHeight65;
  }

  .logo{
    width: 130px;
    display: inline-block;
    text-indent: -9999px;

    @include respond($tabwidth){
      width: 100px;
    }
    a{
      display: block;
      line-height: $hdHeight100;
      background-image: url(../images/logo_g.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      @include respond($mobile767){
        line-height: $hdHeight65;
      }
    }
    
  }
  .gnb{
    height: $hdHeight100;
    display: flex;
    align-items: center;
    position: absolute;
    right: 70px;
    top: 0;
    @include respond($mobile767){
      height: $hdHeight65;
      right: 20px;
    }

    li{
      width: 32px;
      padding-left: 30px;
      cursor: pointer;
      @include respond($mobile767){
        width: 25px;
        padding-left: 20px;
      }
    }
    .search {
      position: relative;
      width: 32px;
      height: 32px;
      @include respond($mobile767){
        width: 25px;
        height: 25px;
      }
      img{
        display: inline-block;
        width: 100%;
        height: 100%;
        left: 0;
        transition: .5s;
      }
      input{
        position: absolute;
        width: 40px;
        height: 40px;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid transparent;
        background: transparent;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        transition: .7s;
        cursor: pointer;

        @include respond($mobile767){
          top: 180%;
          right: 0;
          transform: none;
        }
        &:focus{
          width: 180px;
          border: 2px solid $bgblue;
          background: rgba($color: #fff, $alpha: 0.2);
        }
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
        
      }
    }
  }
  .hamBtn{
    position: absolute;
    width: 25px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: none;

    @include respond($tabwidth){
      display: block;
    }
    a{
      display: block;
      span{
        display: block;
        width: 100%;
        height: 2px;
        background: $amigreen;
        margin-bottom: 7px;
      }
    }
  }
  .timeInfo{
    width: 260px;
    height: 155px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    position: absolute;
    right: 30px;
    text-align: right;
    color: white;
    background: rgba(0,0,0,.3);
    display: none;

    @include respond($tabwidth){
      width: 210px;
      height: 130px;
      padding: 15px;
      right: 20px;
    }
    @include respond($mobile767){
      width: 200px;
      height: 120px;
    }
    .textBox{
      line-height: 2;
      width: 95%;
      height: 100%;
      padding-right: 10px;
      position: relative;
      overflow: hidden;
      
      p:nth-child(2){
        font-size: 1.3em;
        font: {
          family: "Century Gothic";
          weight:700;
        };
        @include respond($tabwidth){
          font-size: 1.1em;
        }
      }
      span{
        font-size: .9em;
        @include respond($tabwidth){
          font-size: .8em;
        }
      }
    }
    &::after{
      content: "";
      display: block;
      width: 1px;
      height: 80%;
      background: white;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .mbMenu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: -100%;
    transition: all .7s;
    
    .closeBtn{
      position: absolute;
      width: 30px;
      height: 30px;
      top: 30px;
      left: 30px;
      a{
        display: block;
        width: 100%;
        height: 100%;
        img{
          width: 100%;
        }
      }
    }
    .mPagemenu{
      li{
        transition: all .7s;
        font: {
          family:"Century Gothic";
          size:1.4em;
        }
        letter-spacing: 3px;
        line-height: 2.5;
        a{
          color: white;
        }
        &:hover{
          letter-spacing: 6px;
          a{
            color: $amiyellow;
          }
        }
      }
    }
  }
}

#container{
  
  #pageMenu{
    width: 200px;
    position: fixed;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    z-index: 10;
    font: {
      size: 1.2em;
      family:"Century Gothic";
    }
    letter-spacing: 2px;
    border-left: 1px solid white;

    @include respond($tabwidth){
      display: none;
    }
    
    li{
      height: 40px;
      transition: all .5s;
      &:first-child{
        display: none;
      }
      @include respond($tabwidth){
        height: 35px;
      }
      
      &::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: white;
        transition: .5s;
      }
      &.active, &:hover{
        letter-spacing: 5px;
        &::after{
          width: 100%;
          background: $amiyellow;
        }
      }
      a{
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 5px;
        margin-left: 7px;
        line-height: 40px;
        color: white;
        border-bottom: 0 solid white;
      }
    }
  }

  // section
  .section.contents{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .innerBox{
      height: calc(100% - #{$hdHeight100});
      top: $hdHeight100;
      @include respond($mobile767){
        height: calc(100% - #{$hdHeight65});
        top: $hdHeight65;
      }
    }
  }

  // #main
  #main{
    background: $bgbeige;
    @include respond($mobile767){
      height: 100vw !important;
    }
    @include respond($mobile640){
      height: 130vw !important;
    }
    @include respond($mobile480){
      height: 150vw !important;
    }

    .mainImg{
      width: 100%;
      height: calc(100% - #{$hdHeight100});
      position: absolute;
      bottom: 0;
      background-image: url(../images/bg_main.jpg);
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      @include respond($tabwidth){
        background-position: -300px bottom;
      }
      @include respond($mobile767){
        height: calc(100% - #{$hdHeight65});
        background-position: -100px bottom;
      }
      @include respond($mobile640){
        background-position: -150px bottom;
      }

      .bge1{
        position: absolute;
        bottom: 20px;
        right: 20px;
        height: 100%;
      }
      .bge2{
        position: absolute;
        top: 60px;
        left: 50px;
        height: 100%;
      }
    }
    .welcome{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: rgba(246, 223, 177,.3);
      position: absolute;
      bottom: 30%;
      left: 40%;
      box-sizing: border-box;
      @include respond($tabwidth){
        left: 35%;
        bottom: 25%;
      }
      @include respond($mobile767){
        width: 90px;
        height: 90px;
        left: 35%;
        bottom: 18%;
      }
      @include respond($mobile480){
        width: 60px;
        height: 60px;
        left: 20%;
      }
      
      p{
        margin:45% 0 0 55%;
        font-family: "Century Gothic";
        font-size: 1.5em;
        letter-spacing: 3px;
        color: $amiyellow;
      }
      span{
        display: block;
        width: 300px;
        margin-left: 60%;
        color: white;
        font-size: 1em;
      }
    }

    .scroll{
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
      @include respond($mobile767){
        display: none;
      }
      span{
        display: inline-block;
        margin-bottom: 90px;
        padding: 10px 0;
        font-size: 1.2em;
        font-family: "Century Gothic";
        letter-spacing: 10px;
        color: white;
        animation: scrollAni 2000ms infinite cubic-bezier(0.37, 0, 0.63, 1);
        &:nth-of-type(2){
          animation-delay: 100ms;
        }
        &:nth-of-type(3){
          animation-delay: 200ms;
        }
        &:nth-of-type(4){
          animation-delay: 300ms;
        }
        &:nth-of-type(5){
          animation-delay: 400ms;
        }
        &:nth-of-type(6){
          animation-delay: 500ms;
        }
      }
      &::after{
        content: "";
        display: block;
        width: 2px;
        height: 80px;
        background: white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        
      }
    }
  }

  // .section #exhibition
  #exhibition{
    background: $bgbeige;
    @include respond($mobile767){
      text-align: center; 
      height: calc(100vw *2.2) !important;     
    }
    .innerBox{
      @include respond($mobile767){
        height: calc((100vw *2.2)-65px) !important;
      }
    }
    .plusmore{
      display: inline-block;
      top: -5px;
    }
    

    .exhibitionWrap{
      width: 80vw;
      max-width: 1536px;
      height: calc(60vw * 0.562);
      max-height: 600px;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include respond($tabwidth){
        width: 90vw;
        height: calc(70vw * 0.562);
      }
      @include respond($mobile767){
        width: 100%;
        height: 85%;
        margin: 30px 0 0;
        max-height: none;
      }
      .exhibitionList{
        width: 80%;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        overflow: hidden;
        @include respond($mobile767){
          position:relative;
          width: 100%;
          height: calc(70vw * 0.562) !important;
          transform: translate(0,0);
        }
        
        &.active{
          height: 100%;
          z-index: 3;
          img{
            @include respond($mobile767){
              left: 0;
            }
          }
        }
        
        &:nth-child(1){
          @include respond($mobile767){
            top: 0;
          }
        }
        &:nth-child(2){
          left: 10%;
          height: 90%;
          z-index: 2;
          @include respond($mobile767){
            height: 100%;
            top: 10%;
            left: 0;
          }
        }
        &:nth-child(3){
          left: 20%;
          height: 80%;
          @include respond($mobile767){
            height: 100%;
            top: 20%;
            left: 0;
          }
        }
        img{
          width: 100%;
          height: 100%;
          box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
          transition: 1s;
          @include respond($mobile767){
            width: auto;
            position: absolute;
            left: -50%;
          }
        }
        
        .textWrap{
          float: right;
          width: 35%;
          height: 100%;
          background: rgba(0,0,0,0.3);
          color: white;
          text-align: right;
          padding: 10px;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          right: 0;
          overflow: hidden;
          @include respond($mobile767){
            background: none;
            width: 100%;
          }
          .listNo{
            position: absolute;
            right: 10px;
            bottom: 10px;
            transition: 1s;
            font: {
              size: 3em;
              family: "Century Gothic";
            }
            @include respond($mobile767){
              top: 0;
              right: -100%;
              text-shadow: 1px 2px 2px rgba($color: #000, $alpha: 0.1);
            }
          }
          &.active{
            .listNo{
              bottom: 80%;
              right: 80%;
              font-size: 4em;
              color: $amiyellow;
              @include respond($mobile767){
                font-size: 3em;
                right: 90%;
              }
            }
            .textBox{
              right: 0;
              p, span{
                margin-right: 0;
              }
            }
          }
          .textBox{
            position: absolute;
            transition: all .7s;
            margin: 10px;
            padding: 0 5px 10px 0;
            bottom: 10px;
            right: -100%;
            overflow: hidden;
            border-right: 1px solid white;
            @include respond($mobile767){
              bottom: 0;
              margin: 0 10px 0 0;
              padding: 0 5px 0 0;
              width: 100vw
            }
            p, span{
              transition: 1s;
              margin-right: -120%;
            }
            p{
              margin-bottom: 10px;
              transition-delay: .5s;
              @include respond($mobile767){
                margin-bottom: 5px;
              }
              &.subtitle{
                transition-delay: .3s;
                font: {
                  size: 1.3em;
                  family: "Century Gothic";
                }
              }
            }
            span{
              display: block;
              margin-bottom: 5px;
              font-size: .9em;
              // @include respond($mobile480){
              //   font-size: .8em;
              // }
              &:nth-of-type(1){
                transition-delay: 1s;
              }
              &:nth-of-type(2){
                transition-delay: 1.5s;
              }
            }
          }
        }
      }
    }
    
    .pager {
      position: absolute;
      display: flex;
      justify-content: right;
      right: 5%;
      bottom: 10%;
      @include respond($mobile767){
        display: none;
      }
      .rightBtn{
        font-family: "Century Gothic";
        letter-spacing: 2px;
        position: relative;
        width: 120px;
        height: 50px;
        text-indent: -120px;
        transition: all .7s;
        &::before{
          content: "";
          display: block;
          width: 20px;
          height: 1px;
          background: $amiyellow;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: rotate(40deg);
          transform-origin: center right;
          transition: all .7s;

        }
        &::after{
          content: "";
          display: block;
          width: 120px;
          height: 1px;
          background: $amiyellow;
          position: absolute;
          bottom: 0;
          transform-origin: center right;
          transition: all .7s;

        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          line-height: 50px;
          text-align: center;
          color: white;
          font-size: 2em;
          transition: color .7s;

        }
        &:hover{
          text-indent: -20px;
          &::before, &::after{
            background: #222;
            height: 2px;
          }
          a{
            color: $amiyellow;
          }
        }
      }
    }
  }

  // .section #program
  #program{
    background: $bgblue;
    text-align: center;
    @include respond($mobile640){
      height: 800px !important;
    }
    @include respond($mobile480){
      height: 700px !important;
    }
    .innerBox{
      @include respond($mobile640){
        height: 735px !important;
      }
      @include respond($mobile480){
        height: 635px !important;
      }
    }

    .plusmore{
      margin-left: 50%;
      transform: translateX(-50%);
      display: block;
      @include respond($mobile767){
        position: absolute;
        top: 0;
        left: none;
        // right: 5%;
        transform: scale(.8);
      }
      @include respond($mobile360){
        transform: scale(.6);
        // right: 0;
      }
    }
    .programWrap{
      width: 60vw;
      max-width: 500px;
      height: 60vh;
      margin: 10px auto 0;
      position: relative;
      @include respond($mobile767){
        width: 50%;
        height: 70%;
        margin: 70px auto 0;
      }
      @include respond($mobile480){
        width: 60%;
      }
      .programContents{
        // width: 300px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        @include respond($mobile767){
          width: 100%;
        }
        &.active {
          display: block;
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 30px;
          img{
            width: 100%;
          }
          p{
            margin: 20px 0 10px;
            font-weight: bolder;
            color: #eee;
          }
          span{
            display: block;
            font-size: .9em;
            color: #ddd;
          }
        }
      }

      .prevBtn{
        width: 60px;
        height: 60px;
        position: absolute;
        top: 30%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include respond($mobile767){
          left: -10%;
        }
        span{
          font: {
            size: .8em;
            family: "Century Gothic";
          }
          letter-spacing: 1px;
          color: white;
          opacity: 1;
          transition: 1s;
          @include respond($mobile767){
            opacity:0;
          }
        }

        &::before{
          content: "";
          display: block;
          width: 10px;
          height: 1px;
          background: white;
          position: absolute;
          left: 0;
          transform-origin: left center;
          transform: rotate(-180deg);
          transition: .5s;
          @include respond($mobile767){
            width: 25px;
            transform: rotate(-40deg);
            background: $amiyellow;
          }
        }
        &::after{
          content: "";
          display: block;
          width: 10px;
          height: 1px;
          background: white;
          position: absolute;
          left: 0;
          transform-origin: left center;
          transform: rotate(180deg);
          transition: .5s;
          @include respond($mobile767){
            width: 25px;
            transform: rotate(40deg);
            background: $amiyellow;
          }
        }

        &:hover{
          span{
            opacity: 0;
            letter-spacing: 10px;
            transform: translateX(100%);
          }
          &::before{
            width: 40px;
            transform: rotate(-40deg);
            background: $amiyellow;
          }
          &::after{
            width: 40px;
            transform: rotate(40deg);
            background: $amiyellow;
          }
        }
      }
    }
    .nextBtn{
      width: 60px;
      height: 60px;
      position: absolute;
      top: 30%;
      right: 0;
      transform: translateX(50%);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      @include respond($mobile767){
        right: -10%;
      }
      span{
        font: {
          size: .8em;
          family: "Century Gothic";
        }
        letter-spacing: 1px;
        color: white;
        opacity: 1;
        transition: 1s;
        @include respond($mobile767){
          opacity:0;
        }
      }

      &::before{
        content: "";
        display: block;
        width: 10px;
        height: 1px;
        background: white;
        position: absolute;
        right: 0;
        transform-origin: right center;
        transform: rotate(180deg);
        transition: .5s;
        @include respond($mobile767){
          width: 25px;
          transform: rotate(40deg);
          background: $amiyellow;
        }
      }
      &::after{
        content: "";
        display: block;
        width: 10px;
        height: 1px;
        background: white;
        position: absolute;
        right: 0;
        transform-origin: right center;
        transform: rotate(-180deg);
        transition: .5s;
        @include respond($mobile767){
          width: 25px;
          transform: rotate(-40deg);
          background: $amiyellow;
        }
      }

      &:hover{
        span{
          opacity: 0;
          letter-spacing: 10px;
          transform: translateX(-100%);
        }
        &::before{
          width: 40px;
          transform: rotate(40deg);
          background: $amiyellow;
        }
        &::after{
          width: 40px;
          transform: rotate(-40deg);
          background: $amiyellow;
        }
      }
    }
    .counter{
      position: absolute;
      top: -25px;
      left: 65%;
      // transform: translateX(-50%);
      font-family: "Century Gothic";
      color: $bgbeige;
      @include respond($mobile767){
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }             

  // .section #amistory
  #amistory{
    background: $bgyellow;
    text-align: center;
    
    @include respond($mobile767){
      height: 1000px !important;
    }
    
    .plusmore{
      margin-left: 50%;
      transform: translateX(-50%);
      display: block;
      @include respond($mobile767){
        position: absolute;
        top: 0;
        left: none;
        transform: scale(.8);
      }
      @include respond($mobile360){
        transform: scale(.6);
      }
      .foreground{
        stroke: $amigreen;
      }
      &:hover{
        .line{
          stroke: $amigreen;
        }
      }
      .line{
        @include respond($mobile767){
          stroke: $amigreen;
        }
      } 
    }
    .storyWrap{
      max-width: 920px;
      margin: 50px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      @include respond($tabwidth){
        max-width: 850px;
      }
      @include respond($mobile870){
        max-width: 770px;
        justify-content: center;
      }
      @include respond($mobile767){
        max-width: 600px;
        margin: 30px auto;
      }
      @include respond($mobile640){
        max-width: 500px;
        margin: 30px auto;
      }
      @include respond($mobile360){
        max-width: 300px;
        margin: 20px auto;
      }
      .storybox{
        width: 200px;
        height: 200px;
        margin: 2px;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-color: rgba($color: white, $alpha: .2);
      
        @include respond($mobile870){
          width: 170px;
          height: 210px;
        }
        @include respond($mobile767){
          width: 160px;
          height: 200px;
          background-size: contain;
        }
        @include respond($mobile640){
          width: 200px;
          height: 190px;
        }
        @include respond($mobile480){
          width: 150px;
          height: 185px;
        }
        @include respond($mobile360){
          width: 230px;
          height: 100px;
          background-position: left center;
          background-size: 50%;
          
        }
        &:hover{
          .storytitle{
            opacity: 1;
          }
        }
        .subtitle{
          line-height: 30px;
          font-size: 1em;
          font-weight: 500;
          position: relative;
          text-align: center;
          @include respond($mobile767){
            line-height: 30px;
          }
          &::after{
            content: "";
            display: block;
            width: 5px;
            height: 1px;
            background: $amigreen;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include respond($mobile480){
              display: none;
            }
          }
        }
      }
      .story-info{
        background: $amiyellow;
        margin: 0 15px 15px 0;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 2px 4px 10px rgba(0,0,0,.1);
        text-align: right;
        align-self: flex-start;
        @include respond($mobile767){
          margin: 2px;
        }
        @include respond($mobile360){
          text-align: left;
          padding: 5px;
        }
        >p{
          padding-top: 10px;
          color: #1aa03b;
          @include respond($mobile360){
            padding-top: 0;
          }
          font: {
            size: 1.2em;
            weight: bold;
          }
        }
        .textBox{
          border-right: 1px solid white;
          padding: 5px;
          color: white;
          font-size: .9em;
          font-weight: lighter;
          position: absolute;
          margin: 10px;
          bottom: 0;
          @include respond($mobile767){
            margin: 5px;
          
          }
          @include respond($mobile360){
            text-align: right;
            padding: 0 5px 0 0;
          }
        }
      }
      .storytitle{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba($color: #000000, $alpha: .4);
        opacity: 0;
        transition: all .5s;
        @include respond($mobile767){
          background: rgba($color: #fff, $alpha: .4);
          opacity: 1;
          height: 20%;
          bottom: 0;
        }
        @include respond($mobile360){
          width: 50%;
          height: 100%;
          margin-left: 50%;
          background: rgba($color: #fff, $alpha: .1);
          opacity: 1;
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          color: white;
          text-align: center;
          @include respond($mobile767){
            color: $amigreen;
          }
          p{
            font-size: 1em;
            line-height: 200px;
            @include respond($mobile767){
              line-height: 35px;
              text-align: left;
              padding-left: 10px;
            }
            @include respond($mobile360){
              line-height: 45px;
              padding-left: 0;
              text-align: center;
            }
          }
          .more{
            width: 80px;
            height: 30px;
            display: block;
            position: absolute;
            bottom: 25%;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid white;
            line-height: 30px;
            font-size: .9em;
            font-family: "Century Gothic";
            @include rectborder(1px, $amiyellow, .3s, 1);
            &:hover{
              background: #111;
              color: $bgyellow;
            }
            @include respond($mobile767){
              // display: inline-block;
              bottom: 75%;
              left: 85%;
              width: 30px;
              height: 20px;
              border: none;
              line-height: 20px;
              font-size: .85em;
            }
            @include respond($mobile360){
              bottom: -10%;
              left: 50%;
              width: 50px;
              height: 20px;
              line-height: 20px;
              border: 1px solid $amiyellow;
              
            }
          }
        }
      }
      .story-thumb1{
        background-image: url(../images/story1.jpg);
      }
      .story-thumb2{
        background-image: url(../images/story2.jpg);
      }
      .story-thumb3{
        background-image: url(../images/story3.jpg);
      }
      .story-thumb4{
        background-image: url(../images/story4.jpg);
      }
      .story-thumb5{
        background-image: url(../images/story5.jpg);
      }
      .notice {
        text-align: center;
        background: rgba($color: #fff, $alpha: .1);
        transition: background-color .3s;
        &:hover{
          background-color: $amigreen;
          a{
            color: white;
          }
        }
        @include respond($mobile767){
          width: 200px;
        }
        @include respond($mobile480){
          width: 300px;
          height: 160px;
          // background-color: $amigreen;
          border: 1px solid #222;
        }
        @include respond($mobile360){
          width: 230px;
          height: 170px;
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          color: $amigreen;
          border: 1px solid $amigreen;
          box-sizing: border-box;
          padding: 5px;
          @include rectborder(2px, #222, .4s, 1);
          @include respond($mobile480){
            // color: white;
            padding: 0 5px;
          }
          p{
            padding: 10px 0;
            @include respond($mobile360){
              padding: 5px 0 10px 0;
            }
          }
          span{
            display: inline-block;
            padding: 4px;
            font-size: 12px;
            background: rgba($color: #fff, $alpha: .2);
            border-radius: 3px;
            @include respond($mobile767){
              font-size: 12px;
            }
            &.more{
              margin-left: 50%;
              background: none;
            }
          }
        }
      }
      .board {
        background: rgba($color: #fff, $alpha: .1);
        transition: background-color .5s;
        text-align: left;
        &:hover{
          background: $amigreen;
          a{
            color: white;
          }
        }
        @include respond($mobile767){
          width: 200px;
        }
        @include respond($mobile480){
          width: 300px;
          height: 50px;
        }
        @include respond($mobile360){
          width: 230px;
          height: 50px;
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          padding: 5px 10px;
          color: $amigreen;
          border: 1px solid $amigreen;
          box-sizing: border-box;
          @include rectborder(2px, #222, .4s, 1);
          @include respond($mobile480){
            padding: 0;
            // color: white;
            // background: $bgbeige;
            border: 1px solid #222;
          }
          .subtitle{
            @include respond($mobile480){
              line-height: 50px;
            }
          }
          .boardbox{
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include respond($mobile360){
              height: 30px;
            }
            p{
              font-size: .9em;
              line-height: 30px;
              border-bottom: 1px dashed rgba($color: #fff, $alpha: .5);
              @include respond($mobile480){
                display: none;
              }
            }
          }
        }
      }
    }
  }

  // .section #museuminfo
  #museuminfo{
    background: $bgblack;
    @include respond($mobile767){
      text-align: center;
      height: 900px !important;
    }
    .innerBox{
      @include respond($mobile767){
        height: 835px;
      }
    }

    .plusmore{
      display: inline-block;
      top: -5px;
    }
    
    .infoWrap{
      position: absolute;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
      width: 100%;
      height: 48%;
      max-height: 450px;
      @include respond($mobile767){
        height: 60%;
        bottom: 55%;
      }
      
      .infoMain{
        display: block;
        width: 50%;
        height: 100%;
        margin: 0 auto;
        border: 1px solid $bgblack;
        box-sizing: border-box;
        background: url(../images/bg_museuminfo.jpg) no-repeat center center;
        background-size: cover;
        @include respond($tabwidth){
          width: 80%;
        }
        @include respond($mobile767){
          position: absolute;
          width: 90%;
          height: 50%;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        @include respond($mobile480){
          height: 45vw;
        }
      }
      .infoContents{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        @include respond($mobile767){
          display: block;
          width: 90%;
          margin: 0 auto;
          position: relative;
          top: 0;
        }
        
        .infoList{
          width: 6.25%;
          background: $bgblack;
          border-left: 1px solid $bgyellow;
          padding: 10px;
          box-sizing: border-box;
          position: relative;
          overflow: hidden;
          transition: all .7s;
          @include respond($tabwidth){
            width: 10%;
          }
          @include respond($mobile767){
            width: 100%;
            height:10%;
            border-left: 0;
            border-top: 1px solid $bgyellow;
            padding: 5px;
          }
          @include respond($mobile480){
            height: 15%;
          }
          &:hover {
            cursor: pointer;
          }
          .infotitle{
            color: white;
            font-size: 1.1em;
            font-weight: 400;
            writing-mode: vertical-lr;
            position: absolute;
            transition: all .7s;
            @include respond($mobile767){
              writing-mode: unset;
              left: 50%;
              transform: translateX(-50%);
              font-size: 1.1em;
            }
          }
          .textBox{
            color: white;
            opacity: 0;
            font-size: .9em;
            font-weight: 100;
            text-align: right;
            position: absolute;
            max-width: 200px;
            bottom: 40px;
            right: -200%;
            transition: 1s;
            @include respond($mobile767){
              bottom: 10px;
            }
          }
          &.active{
            width: 13%;
            @include respond($mobile767){
              width: 100%;
              height: 30%;
            }
            .infotitle{
              color: $bgyellow;
              font-size: 1.3em;
              letter-spacing: 5px;
              @include respond($mobile767){
                position: absolute;
                left: 0;
                transform: translateX(0);
                padding-left: 10px;
                font-size: 1.3em;
              }
            }
            .textBox{
              right: 10px;
              opacity: .8;
            }
          }
        }
        .imgBox{
          position: relative;
          width: 0;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          transition: all .5s;
          @include respond($mobile767){
            width: 100%;
            height: 0;
          }
          &.info1{
            background-image: url(../images/info_exhibition.png);
          }
          &.info2{
            background-image: url(../images/info_maisondeami.jpg);
          }
          &.info3{
            background-image: url(../images/info_hanok.jpeg);
          }
          &.info4{
            background-image: url(../images/info_giverni.jpg);
          }
          &.active{
            width: 50%;
            @include respond($mobile767){
              width: 100%;
              height: 45vw;
            }
          }
        }
      }
    }

    .infoBtn{
      position: absolute;
      left: 50%;
      bottom: 30px;
      width: 100%;
      transform: translateX(-50%);
      text-align: center;
      @include respond($mobile480){
        bottom: 30px;
      }
      
      >div{
        display: inline-block;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        margin: 10px;
        border: 1px solid #777;
        transition: all .5s;
        @include respond($mobile767){
          width: 80px;
          height: 80px;
          border: 1px solid $bgyellow;
          background: #222;
        }
        
        a{
          display: block;
          width: 100%;
          height: 100%;
          line-height: 98px;
          text-align: center;
          color: #ddd;
          @include rectborder(2px, $amiyellow, 0.3s, 0);
          @include respond($mobile767){
            line-height: 76px;
          }
        }
        &:hover{
          background: #111;
        }
      }
    }
  }
}

// footer
footer{
  background: #111;
  @include respond($mobile767){
    padding-top: 20px;
  }
  .innerBox{
    box-sizing: border-box;
    height: 200px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include respond($mobile767){
      flex-direction: column;
    }
    
    .footLogo{
      img{
        width: 130px;
        @include respond($mobile767){
          width: 100px;
        }
      }
    }

    address{
      color: white;
      font-size: .9em;
      text-align: center;
      line-height: 1.7;
      @include respond($tabwidth){
        font-size: .8em;
      }
      @include respond($mobile767){
        order: 1;
      }
    }

    .sns{
      padding-right: 20px;
      box-sizing: border-box;
      @include respond($mobile767){
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      li{
        float: left;
        width: 32px;
        height: 32px;
        margin: 0 0 0 20px;
        @include respond($mobile767){
          width: 25px;
          height: 25px;
          margin: 0 15px;
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .topBtn {
      width: 70px;
      height: 70px;
      border: 3px solid $bgyellow;
      border-radius: 50%;
      position: absolute;
      right: 30px;
      background: #222;

      @include respond($tabwidth){
        width: 60px;
        height: 60px;
        top: 10px;
      }
      @include respond($mobile767){
        width: 45px;
        height: 45px;
        right: 10px;
        border: 2px solid $bgyellow;
      }

      a{
        display: block;
        width: 100%;
        height: 100%;
        color: $bgyellow;
        line-height: 70px;
        text-align: center;
        font-size: 1.1em;
        @include respond($tabwidth){
          line-height: 60px;
          font-size: 1em;
        }
        @include respond($mobile767){
          line-height: 45px;
        }
      }
    }
  }
}