@import "./common.scss";

// $amigreen: #194E26;
// $amiyellow: #f6a608;
// $bgbeige: #d9c2a7;
// $bgblue: #455955;
// $bgyellow: #e3b657;
// $bgblack: #232426;


// @font-face {
//   font-family: "Noto sans KR";
//   src: url(../font/NotoSansKR-Regular.otf) format('otf');
//   font-weight: 300;
// }
// @font-face {
//   font-family: "Noto sans KR";
//   src: url(../font/NotoSansKR-Thin.otf) format('otf');
//   font-weight: 100;
// }
// @font-face {
//   font-family: "Century Gothic";
//   src: url(../font/GOTHIC.TTF);
//   font-weight: normal;
// }
// @font-face {
//   font-family: "Century Gothic";
//   src: url(../font/GOTHICB.TTF);
//   font-weight: 700;
// }

// $pcwidth:1780px;
// $tabwidth:1024px;
// $mobile870:870px;
// $mobile767: 767px;
// $mobile640: 640px;
// $mobile480: 480px;
// $mobile360: 360px;

// $hdHeight100:100px;
// $hdHeight65:65px;

// @mixin respond($mobile){
//   @media screen and (max-width:$mobile) {
//     @content;
//   }
// }

// @mixin rectborder($width, $color, $duration,$direction){
//   position: relative;
//   &:before{
//     content: "";
//     position: absolute;
//     width: calc(100% + #{$width * 2});
//     height: calc(100% + #{$width * 2});
//     top: calc(#{$width}/-1);
//     left: calc(#{$width}/-1);
//     background: linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
//     background-size: 100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
//     background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
//     background-repeat: no-repeat, no-repeat;
//     transition: transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
//     transform: scaleX(0) rotate(180deg * $direction);
//     transition-delay: $duration*2, $duration, 0s;
//   }
//   &:hover{
//     &:before{
//       background-size: 200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
//       background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
//       transform: scaleX(1) rotate(180deg * $direction);
//       transition-delay: 0s, $duration, $duration * 2;
//     }
//   }
// }


#container{
  background: $bgblack;

  h1{
    font-size: 2em;
    text-align: center;
    line-height: 100px;
    color: $amiyellow;
  }
  .detailWrap {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 100px;
    display: flex;
    flex-direction: column;
    .detailTitle{
      padding: 10px;
      color: $amiyellow;
      flex-basis: 20%;
      text-align: right;
    }
    .detailContent{
      padding: 10px;
      font-size: .9em;
      color: white;
      flex-shrink: 100;
      flex-basis: 80%;
      display: flex;
      flex-direction: column;
    }
  }

  // 미술관소개 museuminfo
  #infoWrap{
    padding-top: 100px;
    padding-bottom: 100px;
    @include respond($mobile767){
      padding-top: 65px;
    }
    .titleBox{
      height: 100px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &::after{
        content: "";
        display: block;
        width: 50px;
        height: 10px;
        border-bottom: 2px dotted $amigreen;
      }
    }
    .seasonBox{
      position: relative;
      display: flex;
      justify-content: center;
      background-color: skyblue;
      .seasonimg{
        width: 25%;
        height: 250px;
        background-position: center center;
        background-size: cover;
        border: 1px solid $bgblack;
        &:nth-child(1){
          background-image: url(../images/season_spring.jpg);
        }
        &:nth-child(2){
          background-image: url(../images/season_summer.jpg);
        }
        &:nth-child(3){
          background-image: url(../images/season_autumn.jpg);
        }
        &:nth-child(4){
          background-image: url(../images/bg_museuminfo.jpg);
          background-position: -50px center;
        }
      }
    }
    .pageTo{
      display: flex;
      
      li{
        background: rgba($color: #000000, $alpha: .3);
        flex-grow: 1;
        text-align: center;
        height: 50px;
        margin: 2px;
        &:hover{
          background: rgba($color: #000000, $alpha: .7);
          a{
            color: $bgyellow;
          }
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          line-height: 50px;
          color: #ccc;
          box-sizing: border-box;
          @include rectborder(1px, $amiyellow, .2s, 0);
        }
      }
    }
    .historyWrap{
      max-width: 1000px;
      margin: 70px auto 0;
      .history{
        margin: 70px 0 100px;
        padding: 30px;
        border: 1px solid #444;
        .titleBox{
          background: rgba($color: white, $alpha: .8);
          p{
            color: $amigreen;
            font-size: 1.3em;
            font-weight: 600;
          }
        }
        .infoDetail{
          margin: 30px 0;
          p{
            color: whitesmoke;
            font-weight: 200;
            padding: 10px;
          }
        }
        .amimeaning{
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 50px 0;
          p{
            &:last-of-type{
              width: 60%;
              color: white;
            }
          }
          .circlebox{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: $amigreen;
            text-align: center;
            line-height: 100px;
            color: $amiyellow;
          }
        }
      }
      .majorHistory{
        // height: 500px;
        background-image: url(../images/history_bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        .overlay{
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba($color: #000000, $alpha: .5);
        }
        .titleBox{
          z-index: 10;
          background: rgba($color: #000000, $alpha: .4);
          color: white;
          font-size: 1.3em;
        }
        .mhWrap{
          display: flex;
          z-index: 10;
          font-size: .9em;
          border-bottom: 1px dashed #666;
          &:last-child{
            border-bottom: none;
          }
          .mhTitle{
            margin: 20px;
            flex-basis: 25%;
            text-align: right;
            color: $amiyellow;
          }
          .mhContent{
            margin: 20px;
            color: white;
            
          }
        }
      }
    }
    
    
  }

  // 관람안내 tourInfo
  #tourinfoWrap{
    padding-top: 100px;
    max-width: 900px;
    @include respond($mobile767){
      padding-top: 65px;
    }
    .tourinfoDetail{
      display: flex;
      padding: 10px 10px 30px 10px;
      border-bottom: 1px dashed $bgbeige;
    }

    .etiquetteWrap{
      width: 80%;
      margin: 0 auto;
      max-width: 900px;
      // background: $bgblue;
      padding: 0 0 100px;
      display: flex;
      flex-direction: column;
      .etiqbox{
        border-radius: 5px;
        background: rgba($color: white, $alpha: .9);
        padding: 5px;
        .etiqboxTitle{
          line-height: 50px;
          text-align: center;
          color: white;
          font-size: 1.2em;
          padding-right: 10px;
          background: $amigreen;
          border-radius: 5px;
        }
        .etiqDetail{
          display: flex;
          padding: 2px 0 0;
          .etiqTitle{
            flex-basis: 20%;
            background: rgba($color: $bgbeige, $alpha: .5);
            padding: 5px 10px 20px;
            text-align: right;
            color: $amigreen;
            font-weight: 500;
            border-radius: 3px 0 0 3px;

          }
          .etiqContent{
            flex-basis: 80%;
            padding: 5px 5px 20px;
            font-size: .9em;
            background: rgba($color:$bgblack, $alpha: .05);
            border-radius: 0 3px 3px 0;

          }
        }
      }
      
    }
  }
  
  
  // 오시는 길 location
  #locationWrap{
    padding-top: 100px;
    max-width: 900px;
    @include respond($mobile767){
      padding-top: 65px;
    }
    #map {
      background-color: $amiyellow;
      width: 90%;
      max-width: 900px;
      height: 500px;
      margin: 0 auto;
    }
    .locationDetail{
      padding-bottom: 30px;
      display: flex;
      border-bottom: 1px dashed $bgbeige;
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
