$amigreen: #194E26;
$amiyellow: #f6a608;
$bgbeige: #d9c2a7;
$bgblue: #455955;
$bgyellow: #e3b657;
$bgblack: #232426;


@font-face {
  font-family: "Noto sans KR";
  src: url(../font/NotoSansKR-Regular.otf) format('otf');
  font-weight: 300;
}
@font-face {
  font-family: "Noto sans KR";
  src: url(../font/NotoSansKR-Thin.otf) format('otf');
  font-weight: 100;
}
@font-face {
  font-family: "Century Gothic";
  src: url(../font/GOTHIC.TTF);
  font-weight: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url(../font/GOTHICB.TTF);
  font-weight: 700;
}

$pcwidth:1780px;
$tabwidth:1023px;
$mobile870:870px;
$mobile767: 767px;
$mobile640: 640px;
$mobile480: 480px;
$mobile360: 360px;

$hdHeight100:100px;
$hdHeight65:65px;

@mixin respond($mobile){
  @media screen and (max-width:$mobile) {
    @content;
  }
}

@mixin rectborder($width, $color, $duration,$direction){
  position: relative;
  &:before{
    content: "";
    position: absolute;
    width: calc(100% + #{$width * 2});
    height: calc(100% + #{$width * 2});
    top: calc(#{$width}/-1);
    left: calc(#{$width}/-1);
    background: linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to top, $color 50%, transparent 50%), linear-gradient(to right, $color 0%, $color 100%), linear-gradient(to left, $color 0%, $color 100%);
    background-size: 100% $width, $width 200%, $width 200%, 0% $width, 0% $width;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform $duration ease-in-out, background-position $duration ease-in-out, background-size $duration ease-in-out;
    transform: scaleX(0) rotate(180deg * $direction);
    transition-delay: $duration*2, $duration, 0s;
  }
  &:hover{
    &:before{
      background-size: 200% $width, $width 400%, $width 400%, 55% $width, 55% $width;
      background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
      transform: scaleX(1) rotate(180deg * $direction);
      transition-delay: 0s, $duration, $duration * 2;
    }
  }
}